<h1>About</h1>
<p class = "container">
TA OnDemand is a Ruby on Rails application designed to improve the relationship between teaching assistants and students in large University classes.

	<p class = "container"><strong>Key Features:</strong></p>
	<div class = "container">	
		<li>Complex schema</li>
		<li>A dynamic scheduler</li>
		<li>Teaching Assistant ratings and reviews</li>
		<li>Live Chat</li>
	</div>
</p>