<div class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-md-1">
        <span style="font-weight:bold; color:#0b545a">NAME</span>
 <span class="text-muted"> at <%= message.timestamp %> says</span><br>
      </div>
      <div class="col-md-11">
        <p class="card-text">
          <%= message.body %>
        </p>
      </div>
    </div>

  </div>
</div>