<div class = 'row'>
	<%= render 'layouts/sidebar' %>
	<% if logged_in?%>
		<div class = 'col-sm-9 col-lg-10'>
			<div class="center jumbotron home-image">
			  <div class = "container" >

			  	<h1>Welcome to TA On Demand</h1>
				
			    <h2 class= 'sign-up'>
			      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary", id: 'btn_signup' %>
			    </h2>
			  </div>
			</div>
		</div>
	<%else%>
		<div class="center jumbotron home-image">
		  <div class = "container" >

		  	<h1>Welcome to TA On Demand</h1>
			
		    <h2 class = 'sign-up'>
		      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary", id: 'btn_signup' %>
		    </h2>
		  </div>
		</div>
	<%end%>
</div>
