

<div class="jumbotron">
  <h1>Welcome!</h1>
  <p style="text-align: center">
    Sign in or sign up to continue
  </p>
  <div class="row-fluid">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-4">
      <%= render 'devise/sessions/signin' %>
    </div>
    <div class="col-lg-4">  
      <%= render 'devise/sessions/signup' %> 
    </div>

    <div class="col-lg-2">
    </div>

  </div>
</div>