@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. --for debugging*/
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* universal */

body {
  // padding-top: 60px;
  margin-top: 0 !important;
}

// section {
//   overflow: auto;
// }

// textarea {
//   resize: vertical;
// }

// .center {
//   text-align: center;
// }

// .center h1 {
//   margin-bottom: 10px;
// }
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  border:none;
  width:100%;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.field_with_errors {
  background-color: white;
  display:block;
}


/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 10px;
  // margin-top:15px;
  font-weight: bold;
}

#logo:hover {
  color: #6f6;
  text-decoration: none;
  background-color:transparent;
}
.glyphicon{
    // font-family: 'Glyphicons Halflings';
    font-family:'Glyphicons Halflings',verdana, arial, helvetica, sans-serif;
}
// .glyphicon-log-in{
//   padding-right: 25px;
// }

/*body*/
h2 > .btn-primary{ //homepage btn
  color:white;
}
.sidebar{
  padding-left: 0;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #6f6;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
  margin:0;
}

footer ul li {
  float: left;
  margin-left: 15px;
}