<footer class="navbar-fixed-bottom">
  <div class="copyright">
    <div class="container">
      <div class="col-md-6">
        <p>© 2017 - All Rights by TA On Demand</p>
      </div>
      <div class="col-md-6">
            <ul class="bottom_ul">
              <li><a href="https://github.com/adiberk"></span>Adi Berkowitz</a> /</li>
              <li><a href="https://github.com/whorace"></span>Hao Wang</a>  /</li>
              <li><a href="https://github.com/nickapril"></span>Nick April</a></li>
            </ul>
      </div>


    </div>
  </div>
</footer>
