<%if user_signed_in?%>

  <div class="col-sm-3 col-lg-2 sidebar">

     <nav class="navbar navbar-default navbar-fixed-side">
        <h1 class = "sidebar">Live Now </h1>
        <% name =  current_user.first_name + " " + current_user.last_name %>
        <h3><%= name %></h3>


        <dl>
          <% current_courses=current_user.courses%>
          <% current_courses.each do |each_course| %>

            <dt><%= each_course.name %></dt>
            <% ta_list = each_course.tas%>
            <% ta_list.each do |each_ta|%>
              <% ta_name =  each_ta.first_name + " " + each_ta.last_name %>
                   
                <dd class="link-style"><%= link_to ta_name, taprofile_path(user_id: each_ta) %></dd> 
              
              <% end %>
            <% end %>
         </dl>

     </nav>
  </div>
<% else %>


<% end %>
